body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(to bottom, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.container {
    animation: fadeIn 2s;
    position: relative;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.banner-img {
    width: 100%;
    height: auto;
}

.profile {
    margin-top: -50px; /* Adjust this value as needed */
}

.profile img {
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
    animation: float 4s infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.profile img:hover {
    transform: scale(1.1);
}

.links a {
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.links a img.icon, .links a i.icon {
    width: 20px;  /* Adjusted size */
    height: 20px;  /* Adjusted size */
    margin-right: 10px;
}

.links a:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.btn-youtube {
    background: #FF0000;
}

.btn-youtube:hover {
    background: #cc0000;
}

.btn-tiktok {
    background: #000000;
}

.btn-tiktok:hover {
    background: #333333;
}

.btn-twitter {
    background: #1DA1F2;
}

.btn-twitter:hover {
    background: #0d95e8;
}

.btn-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.btn-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.btn-pcpartpicker {
    background: #6A5ACD;
}

.btn-pcpartpicker:hover {
    background: #483D8B;
}
